@import "../../styles/variables.scss";

.Container {
  z-index: -1;
  top: 0;
  overflow-x: hidden;

  .IphoneBackground {
    background-image: url("../../public/images/real.jpg");
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    margin-bottom: -0.8rem;
  }

  .Overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 2rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;

    .ImageContainer {
      max-width: 40rem;

      img {
        display: block;
        padding: 2rem;
        border-radius: 2rem;
        opacity: 0.7;
        background-color: $bg-light;
      }

      @media screen and (max-width: 500px) {
        max-width: 30rem;
      }
    }

    .OtherContainer {
      font-weight: bold;
      margin-top: 1rem;
    }

    .Specialty {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin: 1rem 0;

      strong {
        padding: 0.5rem;
        background: linear-gradient(45deg, rgb(135, 17, 135), transparent);
        color: white;
        border-radius: 1rem;
      }
    }
  }
}
