$color-pry: #36006e;
$color-pry-light: #8c004c;
$color-white: #fff;
$color-black: #000;
$color-danger: #db3a34;
$color-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);

$background-color: #90e0ef;
$bg-dark: #a78bfa;
$bg-light: #ddd6fe;

$transition: 500ms ease;
